@import '../colours.css';

/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: transparent;
    z-index: 1000;
  }

  .logo-link {
    text-decoration: none;
    color: var(--dark-color);
  }
  
  .logo-text {
    font-size: 24px;
    font-weight: bold;
    &:hover {
        color: var(--accent-dark);
      }
  }
  
  .logo-container {
    margin-right: auto;
  }
  
  .logo-text {
    color: var(--dark-color);
    font-size: 24px;
    font-weight: bold;
  }
  
  .icons-container {
    display: flex;
  }
  
  .icon-link {
    margin-left: 20px;
    color: var(--dark-color);
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease;
  
    &:last-child {
      margin-right: 10px;
    }
  
    &:hover {
      color: var(--accent-dark);
    }
  }
  