@import '../colours.css';

.project-card {
    position: relative;
    display: flex;
    border: 1px solid #ddd;
    margin: 10px;
    width: 75%;
    border-radius: 10px;
    overflow: hidden;
  }
  
.image-container {
    flex: 1;
    max-width: 25%;
    overflow: hidden;
}

img {
    width: 100%; 
    height: auto;
}

.text-container {
    flex: 3;
    padding: 15px;
}

.project-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--brand-color);
}

.project-description {
    font-size: 1rem;
    color: var(--dark-color);
    font-style: bold;
}

.projects-icons-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.projects-icon-link {
    color: #555; /* Adjust the color as needed */
    font-size: 18px;
    text-decoration: none;
}